*.o
.vscode
base/generator
base/test/test_generator
base/test/test_graph
cpu-version/cpu_prim
cpu-version/test/test_cpu_prim
comparison/evaluation
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.aux
*.synctex.gz
report/report.pdf
